<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="testBean"
          class="com.confucy_mazuta.myspringstart.TestBean">
        <constructor-arg value="Передаем в конструктор"/>
    </bean>

    <bean id="testBean1"
          class="com.confucy_mazuta.myspringstart.TestBean">
        <constructor-arg value="Нехуя не передаем"/>
    </bean>

    <bean id="testBean2"
          class="com.confucy_mazuta.myspringstart.TestBean">
        <constructor-arg value="Анет! Передаем"/>
    </bean>

</beans>